{% extends '::base.html.twig' %}

{% block title %}Editar - Visita{% endblock %}


{% block body -%}
    <h1>Visitas edit</h1>
    {{ form(delete_form) }}
     <div align=right>
    {{ "now"|date("d/m/Y H:i ", "America/Caracas")}}
    </div>
    <br><br>
    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('visitas') }}">
           <br><br> Ir a lista de visitas
        </a>
    </li>
    
</ul>
{% endblock %}
