{% extends '::base.html.twig' %}
{% block title %}Editar - Contacto Emergencia{% endblock %}


{% block body -%}
    <h1 align=center>Editar un contacto de emergencia</h1>
    
    {{ form(delete_form) }}
    
    <div align=right>
        {{ "now"|date("d/m/Y - H:i ", "America/Caracas")}
    </div>
    
    <br><br>
    
    {{ form(edit_form) }}

        <ul class="record_actions">
            <li>
                <a href="{{ path('contactoemergencia') }}">
                    <br><br>Ver todos los contactos de emergencia
                </a>
            </li>
        </ul>
        
{% endblock %}
