{% extends '::base.html.twig' %}

{% block title %}Editar - Medicamentos{% endblock %}



{% block body -%}
    <h1>Editar Medicamentos</h1>

    {{ form(delete_form) }}
         <div align=right>
    {{ "now"|date("d/m/Y - H:i ", "America/Caracas")}}
    </div>
    <br><br>
    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('medicamentos') }}">
           	<br><br>Ir a lista de medicamentos
        </a>
    </li>
    
</ul>
{% endblock %}
