{% extends '::base.html.twig' %}
{% block title %}Nuevo - Telefono{% endblock %}


{% block body -%}
    <h1 align=center>Agregar número de teléfono</h1>
     
    <div align=right>
        {{ "now"|date("d/m/Y - H:i ", "America/Caracas")}}
    </div>
    
    {{ form(form) }}

        <ul class="record_actions">
            <li>
                <a href="{{ path('numerospaciente') }}">
                    <br><br>Ver telefonos existentes
                </a>
            </li>
        </ul>
{% endblock %}
