{% extends '::base.html.twig' %}

{% block title %}Nuevo - Paciente{% endblock %}


{% block body -%}
    <h1 align=center>Nuevo Paciente</h1>
    <div align=right>
        {{ "now"|date("d/m/Y - H:i ", "America/Caracas")}}
    </div>
    
    {{ form(form) }}

        <ul class="record_actions">
            <li>
                <a href="{{ path('paciente') }}">
                 <br><br>Regresar a los pacientes
                </a>
            </li>
        </ul>
{% endblock %}
